Back/ProductsManager/ProductsManager.Api/bin/
Back/ProductsManager/ProductsManager.Core/obj/
Back/ProductsManager/ProductsManager.Api/obj/
Back/ProductsManager/ProductsManager.Repository/obj/
Back/ProductsManager/ProductsManager.Repository/bin/
Back/ProductsManager/ProductsManager.Core/bin/
